@model bool
@{
    ViewData["Title"] = "Login";
}
<!--<div class="container">-->
    <div class="row justify-content-md-center">
        <div class="jumbotron col-6">
            <h1>Bem vindo ao sistema Biblioteca</h1>
            <form asp-action="Login" method="POST">
                <div class="form-group">
                    <input id="login" type="text" placeholder="Login" class="form-control" name="login" />
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Senha" class="form-control" name="senha"/>
                </div>
                <input id="botao" type="submit" class="btn btn-primary btn-lg" value="Entrar" />
            </form>

            @if(Model == false){
                <p class="text-danger">Login ou senha incorretos</p>
            }
        </div>
    </div>

    <script>
        localStorage.removeItem("user")
        document.querySelector("#botao").addEventListener("click", ()=>{
            localStorage.setItem("user", document.querySelector("#login").value)
        })
    </script>

<!--</div> -->